---
import Layout from "../layouts/layout.astro";

// Use Astro.glob to fetch all post with associated frontmatter
const posts = (await Astro.glob("./p/**/*.md"))
    .filter((p) => p.rawContent() !== "")
    .map((p) => ({
        url: p.url,
        title: p.url?.replace("/p/", ""),
        raw: p.rawContent(),
    }));
---

<Layout title="Welcome to my Vault.">
    <main class="max-w-4xl mx-auto py-8">
        <h1>
            Welcome to my <span class="font-bold text-purple-700">Vault</span>
        </h1>

        <ul role="list" class="list-none">
            {
                posts.map(({ title, url }) => (
                    <li class="text-left mb-4">
                        <a href={url} class="text-2xl">
                            {title}
                        </a>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
