---
const { file, url } = Astro.props;

const fileParts = url.split("/");

const title = fileParts[fileParts.length - 1];

import "../globals.css";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <main class="max-w-4xl mx-auto py-8">
            <div class="max-w-3xl mx-auto mb-4 px-4">
                <a href="/" class="no-underline"
                    ><span
                        class="text-sm text-gray-400 hover:text-black transition-colors"
                        >← Home</span
                    >
                </a>
            </div>
            <h1>{title}</h1>
            <slot />
        </main>
    </body>
</html>
